.contact-nav__link, .site-nav__link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field__textarea, .input-field__input {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.no-top-padding {
  padding-top: 0;
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo__accent {
  color: #2196f3;
}

.header__logo {
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding: 26px 0;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding: 24px 0;
    margin-right: 93px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #fff;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  padding: 32px 0;
  color: #212121;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}
.site-nav__link--current {
  position: relative;
  color: #2196f3;
}
.site-nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 108%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  -webkit-transform: translate(-4%, 0);
          transform: translate(-4%, 0);
}

.contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
@media (max-width: 767px) {
  .contact-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-nav__item:not(:first-child) {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-nav__item:not(:first-child) {
    margin-left: 50px;
  }
}

.contact-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .contact-nav__link {
    padding: 32px 0;
  }
}
.contact-nav__link:hover, .contact-nav__link:focus {
  color: #2196f3;
}

.contact-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  text-align: center;
  background-color: #2f303a;
}

.hero__overlay {
  margin: 0 auto;
  min-width: 320px;
  max-width: 480px;
  padding: 118px 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-img-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-img-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    max-width: 768px;
    padding: 118px 204px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-img-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-img-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    max-width: 1600px;
    padding: 200px 452px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-img.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-img@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img@2x.jpg");
  }
}

.hero__content {
  margin: 0 auto;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__content {
    max-width: 696px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__icon {
  fill: #fff;
  margin-left: 10px;
}

.button--hero-btn {
  padding: 10px 24px;
  min-width: 200px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: #fff;
  background-color: #2196f3;
}
.button--hero-btn:hover, .button--hero-btn:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .button--hero-btn {
    padding: 10px 32px;
    min-width: 216px;
  }
}

.button--form-btn {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  color: #fff;
  background-color: #2196f3;
  margin: 0 auto;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button--form-btn:hover, .button--form-btn:focus {
  background-color: #188ce8;
}

.button--primary-btn {
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
}
.button--primary-btn:hover, .button--primary-btn:focus {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .advantages__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .advantages__item:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item:not(:first-child) {
    margin-left: 30px;
  }
}

.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
}

.advantages__text {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}

.activities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activities__item:not(:first-child) {
  margin-left: 30px;
}

.activities__text {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.activities__item {
  position: relative;
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .team__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .team__item:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item:not(:first-child) {
    margin-left: 30px;
  }
}

.team__card-info {
  padding: 30px 0;
}

.messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.messengers__item:not(:first-child) {
  margin-left: 10px;
}

.messengers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.messengers__link:hover, .messengers__link:focus {
  background-color: #2196f3;
  color: #fff;
}

.messengers__link--inverse {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.messengers__link--inverse:hover, .messengers__link--inverse:focus {
  background-color: #2196f3;
}

.messengers__icon {
  fill: currentColor;
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .customers__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.customers__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .customers__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}
@media screen and (max-width: 767px) {
  .customers__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .customers__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .customers__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__item:not(:first-child) {
    margin-left: 30px;
  }
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.customers__icon {
  fill: currentColor;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 9px;
  }
}

@media screen and (min-width: 768px) {
  .filter__item:not(:first-child) {
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__item:not(:first-child) {
    margin-top: 30px;
  }
}
.portfolio__item:hover {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .portfolio__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}

.portfolio__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio__card-info {
  padding: 24px 20px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__card-info--first {
    padding-bottom: 60px;
  }
}

.portfolio__image {
  position: relative;
  overflow: hidden;
}

.portfolio__details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .portfolio__details {
    padding-top: 20px;
    font-size: 15px;
    line-height: 1.56;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__details {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__details {
    padding: 63px 24px;
  }
}
.portfolio__link:hover .portfolio__details {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer__section {
    margin-bottom: 60px;
    text-align: center;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__section:not(:first-child) {
    margin-left: 70px;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .footer-form {
    text-align: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: auto;
  }
}

.footer-form__input {
  width: 100%;
  margin: 0 auto 20px auto;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 1199px) {
  .footer-form__input {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-right: 12px;
  }
}
.footer-form__input:focus {
  outline: none;
  border: 1px solid #fff;
}
.footer-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__item:not(:first-child) {
  margin-top: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:first-child) {
    margin-top: 9px;
  }
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}
.address__link--fact-address {
  color: #fff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  min-width: 290px;
  min-height: 609px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover, .modal__close-button:focus {
  color: #2196f3;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.input-field__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.input-field__input {
  height: 40px;
  padding: 12px 12px 12px 42px;
}
.input-field__input:focus {
  border-color: #2196f3;
  outline: none;
}

.input-field__textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}
.input-field__textarea:focus {
  border-color: #2196f3;
  outline: none;
}
.input-field__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.input-field__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.input-field__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.input-field__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.input-field__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.input-field__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-field__input:focus + .input-field__icon {
  fill: #2196f3;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.checkbox__label {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.checkbox__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.checkbox__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__icon {
  border-color: transparent;
  background-color: #2196f3;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #212121;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.mobile-menu__item:nth-child(2) {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-site-nav__item:not(:first-child) {
  margin-top: 32px;
}

.mobile-site-nav__link {
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: block;
  color: #212121;
}
.mobile-site-nav__link--current {
  color: #2196f3;
}

.mobile-contact-nav__item {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-contact-nav__item:not(:first-child) {
  margin-top: 32px;
}
.mobile-contact-nav__item:first-child {
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-contact-nav__link {
  font-weight: 500;
  display: block;
  color: inherit;
}

.mobile-site-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-site-social__item:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-site-social__item:not(:last-child) {
  padding-right: 10px;
}

.mobile-site-social__link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: block;
  color: #2196f3;
}/*# sourceMappingURL=main.css.map */