@import "utils/variables";
@import "utils/mixins";
@import "utils/placeholders";
@import "utils/common";
@import "components/logo";
@import "components/header";
@import "components/hero";
@import "components/buttons";
@import "components/advantages";
@import "components/activities";
@import "components/team";
@import "components/messengers";
@import "components/customers";
@import "components/portfolio-page";
@import "components/footer";
@import "components/modal";
@import "components/modal-form";
@import "components/mobile-menu";
