// Секція Чим ми займаємось
.activities {
	@media screen and (max-width: 1199px) {
		display: none;
	}
}

.activities__list {
	display: flex;
}
.activities__item:not(:first-child) {
	margin-left: 30px;
}
.activities__text {
	position: absolute;
	bottom: 0;
	@include centeredFlex();
	width: 100%;
	height: 70px;
	color: $primary-white;
	font-weight: 700;
	@include fontSize(14px, 1.14, 0.03em);
	text-transform: uppercase;
	background: rgb(47 48 58 / 0.8);
}
.activities__item {
	position: relative;
}
