// Секція Наші переваги
.advantages__list {
	display: flex;
}
.advantages__item {
	flex-basis: calc((100% - 90px) / 4);
}
.advantages__item:not(:first-child) {
	margin-left: 30px;
}
.advantages__icon {
	@include centeredFlex();
	height: 120px;
	margin-bottom: 30px;
	background-color: $light-background;
	border-radius: 4px;
}
.advantages__title {
	margin-bottom: 10px;
	@include fontSize(14px, 1.14, 0.03em);
	text-transform: uppercase;
	color: $title-text-color;
}
.advantages__text {
	@include fontSize(14px, 1.71, 0.03em);
}
