// Секція Наші переваги
.advantages__list {
	@include tablet {
		display: flex;
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		flex-wrap: wrap;
	}
}
.advantages__item {
	@include tablet {
		flex-basis: calc((100% - 30px) / 2);
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		&:not(:nth-child(2n)) {
			margin-right: 30px;
		}

		&:not(:nth-last-child(-n + 2)) {
			margin-bottom: 30px;
		}
	}
	@include desktop {
		flex-basis: calc((100% - 90px) / 4);
	}
	&:not(:first-child) {
		@media screen and (max-width: 767px) {
			margin-top: 30px;
		}

		@include desktop {
			margin-left: 30px;
		}
	}
}

.advantages__icon {
	@include centeredFlex();
	height: 120px;
	margin-bottom: 30px;
	background-color: $light-background;
	border-radius: 4px;
}
.advantages__title {
	margin-bottom: 10px;
	@include fontSize(14px, 1.14, 0.03em);
	text-transform: uppercase;
	color: $title-text-color;

	@media screen and (max-width: 767px) {
		text-align: center;
	}
}
.advantages__text {
	@include fontSize(12px, 1.71, 0.03em);

	@include desktop {
		@include fontSize(14px, 1.71, 0.03em);
	}
}
