.button {
	cursor: pointer;
	border: none;
	border-radius: 4px;
	transition: color $transition-time $transition-timing-function,
		background-color $transition-time $transition-timing-function,
		box-shadow $transition-time $transition-timing-function;
}

.button__icon {
	fill: $primary-white;
	margin-left: 10px;
}

.button--hero-btn {
	padding: 10px 24px;
	min-width: 200px;
	@include fontSize(16px, 1.88, 0.06em);
	font-weight: 700;
	color: $primary-white;
	background-color: $accent-color;

	&:hover,
	&:focus {
		background-color: $hero-btn-active;
	}

	@include desktop {
		padding: 10px 32px;
		min-width: 216px;
	}
}

.button--form-btn {
	@include fontSize(16px, 1.88, 0.06em);
	@include centeredFlex(inline-flex);
	font-weight: 700;
	color: $primary-white;
	background-color: $accent-color;
	margin: 0 auto;
	padding: 10px 28px;
	width: 200px;
	height: 50px;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 0.15);

	&:hover,
	&:focus {
		background-color: $hero-btn-active;
	}
}

.button--primary-btn {
	padding: 6px 22px;
	min-width: 73px;
	font-weight: 500;
	@include fontSize(16px, 1.62, 0.03em);
	color: $title-text-color;
	background-color: $light-background;

	&:hover,
	&:focus {
		color: $primary-white;
		background-color: $accent-color;
		box-shadow: 0px 3px 1px rgb(0 0 0 / 0.1), 0px 1px 2px rgb(0 0 0 / 0.08), 0px 2px 2px rgb(0 0 0 / 0.12);
	}
}
