// ФУТЕР
.footer {
	background-color: $dark-background;
	padding: 60px 0;
}
.footer__container {
	@include tablet {
		display: flex;
		align-items: baseline;
		flex-wrap: wrap;
		align-content: center;
	}
}
.footer__section {
	@media screen and (max-width: 1199px) {
		margin-bottom: 60px;
		text-align: center;
		flex-basis: 50%;
	}
}

.footer__section:not(:first-child) {
	@include desktop {
		margin-left: 70px;
	}
}
.footer__title {
	margin-bottom: 20px;
	font-weight: 700;
	@include fontSize(14px, 1.14, 0.03em);
	text-transform: uppercase;
	color: $primary-white;
}
.footer-form {
	@media screen and (max-width: 1199px) {
		text-align: center;
		flex-basis: 100%;
	}
	@include desktop {
		margin-left: auto;
	}
}
.footer-form__input {
	width: 100%;
	margin: 0 auto 20px auto;
	height: 50px;
	padding: 15px 16px;
	background-color: transparent;
	border: 1px solid rgb(255 255 255 / 0.3);
	border-radius: 4px;
	color: rgb(255 255 255 / 0.6);
	@media screen and (max-width: 1199px) {
		display: block;
	}
	@include tablet {
		width: 450px;
	}
	@include desktop {
		width: 358px;
		margin-right: 12px;
	}
	&:focus {
		outline: none;
		border: 1px solid $primary-white;
	}

	&::placeholder {
		@include fontSize(16px, 1.25, 0.03em);
		color: rgb(255 255 255 / 0.6);
	}
}

.address__item:not(:first-child) {
	margin-top: 8px;
	@include desktop {
		margin-top: 9px;
	}
}
.address__link {
	@include fontSize(14px, 1.71, 0.03em);
	font-style: normal;
	color: $contact-footer;
	transition: color $transition-time $transition-timing-function;

	&:hover,
	&:focus {
		color: $accent-color;
	}

	&--fact-address {
		color: $primary-white;
	}
}
