// ХЕДЕР
.header {
	border-bottom: 1px solid $header-border-color;
}
.header__container {
	@include centeredFlex();
	@media (max-width: 767px) {
		justify-content: space-between;
	}
}
// Стилі навігації в хедері
.navigation {
	display: flex;
}
// Навігація по сторінкам сайту
.site-nav {
	@include centeredFlex();
	@media (max-width: 767px) {
		display: none;
	}
}
.site-nav__item:not(:first-child) {
	margin-left: 50px;
}
.site-nav__link {
	@extend %nav-link;
	padding: 32px 0;
	color: $title-text-color;

	&:hover,
	&:focus {
		color: $accent-color;
	}

	&--current {
		position: relative;
		color: $accent-color;
	}
	&--current::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		width: 108%;
		height: 4px;
		background-color: $accent-color;
		border-radius: 2px;
		transform: translate(-4%, 0);
	}
}
// Контакти в хедері
.contact-nav {
	display: flex;
	margin-left: auto;
	@media (max-width: 767px) {
		display: none;
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		flex-direction: column;
		align-items: flex-start;
	}
}
.contact-nav__item:not(:first-child) {
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-top: 10px;
	}
	@include desktop {
		margin-left: 50px;
	}
}
.contact-nav__link {
	@include centeredFlex();
	@extend %nav-link;
	color: $primary-text-color;
	@include desktop {
		padding: 32px 0;
	}

	&:hover,
	&:focus {
		color: $accent-color;
	}
}
.contact-nav__icon {
	margin-right: 10px;
	fill: currentColor;
}
