// Стилі логотипу
.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	@include fontSize(24px, 1.16, 0.03em);
	text-decoration: none;
	color: $logo-black;
	@include desktop {
		@include fontSize(26px, 1.19, 0.03em);
	}
}
.logo__accent {
	color: $accent-color;
}
.header__logo {
	padding: 16px 0;
	@include tablet {
		padding: 26px 0;
		margin-right: 87px;
	}
	@include desktop {
		padding: 24px 0;
		margin-right: 93px;
	}
}
.footer__logo {
	display: inline-block;
	margin-bottom: 20px;
	color: $primary-white;
}
