// СТОРІНКА ПОРТФОЛІО
// Фільтр
.filter {
	@include centeredFlex();
	margin-bottom: 50px;
	@media (max-width: 767px) {
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 9px;
	}
}
.filter__item:not(:first-child) {
	@include tablet {
		margin-left: 8px;
	}
}
// Картки портфоліо
.portfolio {
	@include tablet {
		display: flex;
		flex-wrap: wrap;
	}
}
.portfolio__item {
	@media screen and (max-width: 767px) {
		&:not(:first-child) {
			margin-top: 30px;
		}
	}
	&:hover {
		box-shadow: 0px 3px 1px rgb(0 0 0 / 0.1), 0px 1px 2px rgb(0 0 0 / 0.08), 0px 2px 2px rgb(0 0 0 / 0.12);
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		flex-basis: calc((100% - 30px) / 2);
		transition: box-shadow $transition-time $transition-timing-function;

		&:not(:nth-child(2n)) {
			margin-right: 30px;
		}

		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	@include desktop {
		flex-basis: calc((100% - 60px) / 3);
		transition: box-shadow $transition-time $transition-timing-function;

		&:not(:nth-child(3n)) {
			margin-right: 30px;
		}

		&:not(:nth-last-child(-n + 3)) {
			margin-bottom: 30px;
		}
	}
}
.portfolio__title {
	margin-bottom: 4px;
	@include fontSize(18px, 2, 0.06em);
	color: $title-text-color;
}
.portfolio__text {
	@include fontSize(16px, 1.88, 0.03em);
	color: $primary-text-color;
}
.portfolio__card-info {
	padding: 24px 20px;
	border-right: 1px solid $card-border-color;
	border-bottom: 1px solid $card-border-color;
	border-left: 1px solid $card-border-color;
	&--first {
		@media screen and (min-width: 768px) and (max-width: 1199px) {
			padding-bottom: 60px;
		}
	}
}
.portfolio__image {
	position: relative;
	overflow: hidden;
}
.portfolio__details {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 77px 24px;
	@include fontSize(18px, 1.56, 0.03em);
	color: $primary-white;
	background-color: rgb(33 150 243 / 0.9);
	transform: translateY(100%);
	transition: transform $transition-time $transition-timing-function;

	@media screen and (max-width: 479px) {
		padding-top: 20px;
		@include fontSize(15px, 1.56, 0.03em);
	}

	@include tablet {
		padding: 49px 24px 77px 24px;
	}
	@include desktop {
		padding: 63px 24px;
	}

	.portfolio__link:hover & {
		transform: translateY(0%);
	}
}
