@mixin fontSize($font-size, $line-height, $letter-spacing) {
	font-size: $font-size;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
}

@mixin centeredFlex($type: flex) {
	display: $type;
	align-items: center;
	justify-content: center;
}
