$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white: #fff;
$dark-background: #2f303a;
$light-background: #f5f4fa;
$background-gradient: rgb(47 48 58 / 0.4);
$logo-black: #000;
$contact-footer: rgb(255 255 255 / 0.6);
$hero-btn-active: #188ce8;
$header-border-color: #ececec;
$card-border-color: #eee;
$primary-icon-color: #afb1b8;

$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-time: 250ms;
$transition-time-modal: 1000ms;
